/.cache
/build
/.vscode/settings.json
.DS_Store

/docs/.$*.drawio.bkp
/docs/.$*.drawio.dtmp

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

/cppboot.code-workspace